/*fonts*/
h1 {font-family: 'Open Sans' sans-serif; font-weight: 700;
}
h4 {font-family: 'PT Serif', serif;}
/*images*/
.venuepic {max-width: 30%; max-height: auto; float: left; margin-right: 20px;
}

/*navigation*/
}
a.logo img{
    margin:1vw 0 0 2vw;
}
nav{
    padding-top: 1vw; 
}
/* webpage body*/


ul { display: none; }

#image {max-width:100%;}

.main{margin-left:0px;}

