/*fonts*/

.question {font-family:'PT Serif', serif;       
}

p {font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

/*image*/
#sideImage {float: right;
            max-width:50%;
            max-height:auto;
            margin-top:50px;
    }
/*main content*/

main {margin:0px 80px;
}

#accordion {float:left;
            width: 45%;
            margin-bottom: 50px;
}