*{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
body{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #d9d9d9;
}
header {
    color: white;
    width:100%;
    min-height: 10vw;
    background-color: #fa0505;
    border-bottom: 2px solid #c9c9c9;
}
#back{
    float:left;
}
#search{
    float:left;
    height: 1.25em;
    font-size: 1.25em;
}
header ul{
    margin:2vw;
}
header li{
    list-style-type: none;
}
.clearFloat{
    clear:both;
    border: 0;
}
h1 {
    padding:2vw;
    float:left;
}
div.event{
    width: 96vw;
    padding:2vw 2vw 2vw 2vw;
    min-height:100px;
    border-bottom: 2px solid #c9c9c9;
    cursor: pointer;
    background-color: #FFFFFF;
}
div.sidebar{
    display:none;
}
section{
    min-height: 60vh;
}
div.selectedEvent{
    background-color: #fa0505;
    color: white;
    padding-bottom: 0;
}
div.event div{
    margin-left: -2vw;
    color:white;
    background-color: #bf0000;
    width: 96vw;
    height:200px;
    padding:2vw;
    border-top: 2px solid #c9c9c9;
}
.name {
    max-width: 20em;
    width: 10em;
    height: 100px;
    float:left;
    margin-right: 20vw;
    margin-bottom: 2vw;
}
.dt, .location{
    margin-bottom: 5px;
    text-align: right;
    position:relative;
    right: 2vw;
}
a{
    color:white;
}

.hidden{
    display: none;
}
i {
    position: relative;
    right: 2vw;
    padding:3.2vw;
    cursor: pointer;
}
.sortDate, .sortName, .sortNameRev, .sortLocation, .sortLocationRev{
    cursor: pointer;
}
section h2{
    margin: 5vw 5vw 3vw 5vw;
}
.oops{
    text-align: center;
}
footer{ 
    text-align: right;
    color:#6b6b6b;
}
footer a{
    color:#fa0505;
    margin-right:2vw;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (min-width: 1024px) {    
    body{font-size:1em;}
   
    .fa-filter{
        display: none;
    }
    i{
        padding:0;
        margin: 3vw .5vw 3vw 35vw;
    }
    .fa-search{
        float:left;
    }
    header{
        min-height: 5vw;
    }
    #search{
        float:left;
        height: 1.25em;
        margin-top: 2.5vw;
        font-size: 1.25em;
    }
    div.sidebar{
        display:block;
        width:30vw;
        float:left;
        margin-left: 1vw;
        position:fixed;
        top:20vw;
        left:3vw
    }
    .sidebar ul{
        list-style-type: none;
    }
    .sidebar li{
        color:#6b6b6b;
        padding-bottom: 1em;
        font-size: 1.5em;
    }
    div#searchResults{
        float:left;
        width:60vw;
        margin: 2vw 1vw 2vw 33vw;
    }
    section{
        float:left;
        min-height: 60vh;
        width:62vw;
        margin-left: 33vw;
        margin-right: 1vw;
    }
    #body{
        margin:2vw;
        float: none;
    }
    div.event{
        padding:1vw;
        margin-bottom: 3px;
        min-height:120px;
        width:60vw;
    }
    div.selectedEvent{
        background-color: #fa0505;
        color: white;
        padding-bottom: 0;
    }
    div.event div{
        margin-left: -1vw;
        width: 58vw;
        height:200px;
    }
}
	
@media screen and (max-width: 800px) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
